{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/common.css' %}">
  <title>Puffer</title>
  <link rel="icon" href="{%  static 'puffer/dist/images/favicon.ico' %}">
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- FAQ Section -->


    <div class="section pt-5" id="faq">
      <div class="container">
        <div class="section-title" align="center">
          <h3>Frequently Asked Questions</h3>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-3">What is Puffer?</h4>
            <p class="mb-5">Puffer is a Stanford University research
            project aiming to improve live streaming of video over
            the Internet. (Insert IRB info etc.)</p>

            <h4 class="mb-3">How can I sign up?</h4>
            <p class="mb-5">
            Puffer is limiting growth to ensure we do not overwhelm our
            research-oriented infrastructure. To do so, we require that
            users possess invitation tokens in order to create new
            accounts. To request an invitation token
            <a href="{% url 'participate' %}">visit this page.</a>

            Finally, please keep in mind that Puffer is only available
            to users in the United States.</p>

            <h4 class="mb-3">What channels can I watch?</h4>
            <p class="mb-3">
            Puffer rebroadcasts over-the-air television channels available in
            the Bay Area. Currently, we rebroadcast local affiliates of CBS,
            NBC, FOX, Univision, Ion, The CW, and PBS.
          </div>
        </div>
      </div>
    </div>


  <script src="{% static 'puffer/dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>
